@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --my-background: #ffe2e2;
  --my-button: #af4040;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--my-background);
}

.container {
  width: 80%;
  height: 100vh;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}
.form-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  padding: 1rem;
}
.form-img img {
  width: 31rem;
}
.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 3rem;
}
.form-header {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.form-header h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: var(--my-button);
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}
.input-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.input-box {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #00000044;
  font-size: 1rem;
}
.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid var(--my-button);
}

.input-box label,
.gender-title h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: black;
}

.input-box input::placeholder {
  color: #000000be;
}
.continue-button button {
  width: 100%;
  margin-top: 1rem;
  border: none;
  background-color: var(--my-button);
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.continue-button button:hover {
  background-color: #660009f1;
}

.continue-button button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}
/* btns */
.login-button {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.login-button button {
  padding: 5px 20px;
  border-radius: 30px;
  cursor: pointer;
  background-color: var(--my-button);
  color: #e6e6e6;
  border: none;
}

.login-button button:hover {
  background-color: #660009f1;
}

.login-button button a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.continue-button input {
  padding: 5px 20px;
  border-radius: 30px;
  cursor: pointer;
  background-color: var(--my-button);
  color: #e6e6e6;
  border: none;
}
